account:
    aws_account_id: 561589293384
    aws_lambda_role: pywren_exec_role_1
    aws_region: us-east-1


lambda:
    memory : 3008
    timeout : 300
    function_name : pywren_1

s3:
    bucket: ec2-user-pywren-899
    pywren_prefix: pywren.jobs

runtime:
    s3_bucket: pywren-runtimes-public-us-east-1
    s3_key: pywren.runtimes/default_3.6.meta.json

scheduler:
    map_item_limit: 10000

standalone:
    ec2_instance_type: m4.large
    sqs_queue_name: pywren-queue
    visibility: 10
    ec2_ssh_key : CS484_DESKTOP
    target_ami : TARGET_AMI
    instance_name: pywren-standalone
    instance_profile_name: pywren-standalone
    max_idle_time: 60
    idle_terminate_granularity: 3600
