account:
    aws_account_id: 561589293384
    aws_lambda_role: pywren_exec_role_1
    aws_region: us-east-1


lambda:
    memory : 1536
    timeout : 300
    function_name : pywren_1

storage_backend: redis
redis_host: ec2-54-160-229-49.compute-1.amazonaws.com
redis_port: 6379
storage_prefix: pywren.jobs

s3:
    bucket: ec2-user-pywren-899
    pywren_prefix: pywren.jobs

runtime:
    #s3_bucket: pywren-runtimes-public-us-east-1
    #s3_key: pywren.runtimes/default_3.6.meta.json
    s3_bucket: numpywrenpublic
    s3_key: pywren.runtime/pywren_runtime-3.6-numpywren.tar.gz    
    runtime_storage: s3

scheduler:
    map_item_limit: 10000

standalone:
    ec2_instance_type: m4.large
    sqs_queue_name: pywren-queue
    visibility: 10
    ec2_ssh_key : CS484_DESKTOP
    target_ami : TARGET_AMI
    instance_name: pywren-standalone
    instance_profile_name: pywren-standalone
    max_idle_time: 60
    idle_terminate_granularity: 3600
